:root {
  --primary-color: rgb(116, 12, 116);
  --secondary-color: rgb(250, 213, 219);
  --third-color: rgb(101, 7, 37);
}

.body-container {
  text-align: center;
}
.head {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
}
.name {
  font-size: 80pt;
  color: var(--primary-color);
}
.project-name {
  font-size: 40pt;
  color: var(--third-color);
}

.description {
  text-align: left;
  font-size: 30pt;
  margin: 10px;
}
.text {
  font-size: 28pt;
}
.row {
  padding: 20px;
  margin: 10px;
}
.title {
  font-size: 30pt;
  color: var(--third-color);
  text-align: center;
}
.email {
  font-size: 35pt;
  padding: 30px;
  color: var(--primary-color);
}
.btn-primary {
  font-size: 20px !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  margin: 10px;
}
.btn-primary:hover {
  color: var(--primary-color) !important;
  background-color: var(--secondary-color) !important;
  font-weight: bold !important;
}
.left {
  display: block !important;
}
.language-name {
  font-size: 50pt;
}
.big {
  font-size: 30px;
  color: var(--primary-color);
}
footer {
  background-color: var(--secondary-color);
  max-width: 650px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  border: 2pt solid var(--primary-color);
  border-radius: 20px;
}
.photo {
  min-height: 400px;
  object-fit: cover;
}
